<div class="container">
    <h2 style="text-align:center">About this site</h2>
    <hr>
    <br>
</div>
<div class="container main-content">

        <div class="row">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="card">
                        <img src="https://avatars3.githubusercontent.com/u/17733364?s=400&v=4" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">Juan Luis Romero</h4>
                            <p class="card-text">Just a rookie developer 👨🏻‍💻</p>
                            <a href="https://github.com/JuanluR8" class="btn" target="_blank">Find me on GitHub!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4>Built with 🚀</h4>
                        </li>
                        <li class="collection-item"> AngularJS based on Components</li>
                        <li class="collection-item"> AngularJS UI Router</li>
                        <li class="collection-item"> Webpack</li>
                        <li class="collection-item"> Sass</li>
                        <li class="collection-item"> ... </li>
                        <li class="collection-item"> So much illusion! </li>
                    </ul>
                </div>
            </div>
        </div>

</div>