.card {
    h4 {
        text-align: center;
    }
}

.card-img-top {
    max-width: 256px;
    margin: 15px;
    border-radius: 10px;
}

.card-body {

    margin: 20px;
}

.main-content {
    vertical-align: middle;
    margin: auto;
}

.btn {
    background: #9900ff;
    margin-bottom: 20px;
}
