<div class="users container">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4>Employees</h4>
        </li>
        <li class="collection-item">
            <input class="form-input" type="text" placeholder="Search by name" ng-model="filterName.name"/>
        </li>
        <a class="collection-item" ng-repeat="user in $ctrl.usersList | filter: filterName" data="user"ui-sref="albums({ userId: user.id})">
            <li >
                {{user.name}}
            </li>
        </a>
    </ul>
</div>